[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "<1.12"
librosa = "*"
beatnet = "*"
madmom = {git = "git+https://github.com/CPJKU/madmom"}
pyaudio = "*"
tensorflow = "~=2.14.0"
msaf = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
